body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  padding: 0 2rem;
}
.content{
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}
.movies{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.search-btn{
  position: absolute;
  top: 0;
  right: 0.5rem;
  background-color:#00695c ;
  
}
.search-btn:hover{
  background-color: #004d40;
}
label:not(:last-child){
margin-right: 5rem;
}
.card-image{
  
  height: 375px;
}
.bottom-text{
  position:absolute;
  bottom: 0;
  height: 35px;
  width: 80%;
  
}
.card{
  height: 600px;
}


.githubContainer{
  
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.githubContainer:hover{
  background-color: #004d40;
}
